# All the build artefacts under CMakeFiles
CMakeFiles/**
build/**
CMakeCache.txt

TrafficGen/CMakeFiles/**
TrafficGen/TrafficGen
TrafficGen/**/*.o
TrafficGen/Lua/lua-5.4.6.tar.gz
TrafficGen/CMakeCache.txt

FlarmMerge/CMakeFiles/**
FlarmMerge/FlarmMerge
FlarmMerge/**/*.o
FlarmMerge/CMakeCache.txt
